# How to remove a pandas dataframe from another dataframe

In [3]:
import pandas as pd
df1=pd.DataFrame([[1,2],[3,4],[5,6]],columns=['a','b'])
df2=pd.DataFrame([[1,2],[5,6]],columns=['a','b'])
df1

   a  b
0  1  2
1  3  4
2  5  6

In [4]:
df2

   a  b
0  1  2
1  5  6

In [5]:
# Use pd.concat followed by drop_duplicates(keep=False)

In [11]:
pd.concat([df1, df2, df2]).drop_duplicates(keep=False)

   a  b
1  3  4

pd.concat adds the two DataFrames together by appending one right after the other. if there is any overlap, it will be captured by the drop_duplicates method. However, drop_duplicates by default leaves the first observation and removes every other observation. In this case, we want every duplicate removed. Hence, the keep=False parameter which does exactly that.

A special note to the repeated df2. With only one df2 any row in df2 not in df1 won't be considered a duplicate and will remain. This solution with only one df2 only works when df2 is a subset of df1. However, if we concat df2 twice, it is guaranteed to be a duplicate and will subsequently be removed.

In [ ]:
###I want to detect the student who doesn't have math course,so I need to remove those who has math course, 
###then I can get series of ID who doesn't have math course
df_nomath = pd.concat([df_cohort.ID2, df_havemath.ID, df_havemath.ID]).drop_duplicates(keep=False)

In [ ]:
##### with series of ID, then I can use isin to get the data frame who doesn't have math course
df_cohort[df_cohort['ID2'].isin(df_nomath)].groupby('retain1').count()

# details about concat,merge,join

https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html