In [20]:
import pandas as pd
df = pd.read_csv('math_bigfile_merge_data.csv')
df = df[['Grade','CourseName','startterm','startterm+courseterm']]
df.head(3)

  Grade CourseName startterm startterm+courseterm
0     A   MATH-003     13/FA          13/FA_13/FA
1    A-   MATH-003     13/FA          13/FA_13/FA
2    C+   MATH-003     13/FA          13/FA_13/FA

In [21]:
### isin()
def get_grade(list1,term):
    return df[df['Grade'].isin(list1)][df['startterm+courseterm'] == term]

In [22]:
get_grade(['A','A-'],'13/FA_13/FA').head(5)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

  Grade CourseName startterm startterm+courseterm
0     A   MATH-003     13/FA          13/FA_13/FA
1    A-   MATH-003     13/FA          13/FA_13/FA
3     A   MATH-003     13/FA          13/FA_13/FA
8    A-   MATH-001     13/FA          13/FA_13/FA
9     A   MATH-001     13/FA          13/FA_13/FA

In [23]:
### 
list1 = ['A','A-']
df[df['Grade'].isin(list1)].head(3)

  Grade CourseName startterm startterm+courseterm
0     A   MATH-003     13/FA          13/FA_13/FA
1    A-   MATH-003     13/FA          13/FA_13/FA
3     A   MATH-003     13/FA          13/FA_13/FA

In [24]:
#### not in 
df[~df['Grade'].isin(list1)].head(3)

  Grade CourseName startterm startterm+courseterm
2    C+   MATH-003     13/FA          13/FA_13/FA
4    B+   MATH-004     13/FA          13/FA_13/FA
5     C   MATH-003     13/FA          13/FA_13/FA