In [143]:
import pandas as pd

In [144]:
chipo=pd.read_csv('chipotle.tsv',delimiter="\t")
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [145]:
#Step 5. What is the number of observations in the dataset?

In [146]:
chipo.shape

(4622, 5)

In [147]:
chipo.count()

order_id              4622
quantity              4622
item_name             4622
choice_description    3376
item_price            4622
dtype: int64

In [148]:
#Step 7. Print the name of all the columns

In [149]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [150]:
#Step 8. How is the dataset indexed?

In [151]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [152]:
# Step 9. Which was the most-ordered item?
# Step 10. For the most-ordered item, how many items were ordered?

In [153]:
c=chipo.groupby('item_name')#####################
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [154]:
# Step 11. What was the most ordered item in the choice_description column?
# Step 12. How many items were orderd in total?

In [155]:
c=chipo.groupby('choice_description').sum()
c=c.sort_values(['quantity'], ascending=False)
c.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [156]:
# Step 13. Turn the item price into a float
# Step 13.a. Check the item price typ

In [157]:
chipo.head(3)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39

In [158]:
chipo.item_price.dtype

dtype('O')

In [159]:
dollarizer = lambda x: float(x[1:-1])############################
chipo.item_price = chipo.item_price.apply(dollarizer)

In [160]:
chipo.item_price.dtype

dtype('float64')

In [166]:
# Step 14. How much was the revenue for the period in the dataset?

In [175]:
revenue=lambda x,y :x*y
revenue=revenue(chipo.quantity,chipo.item_price).sum()
revenue

39237.02

In [ ]:
# Step 15. How many orders were made in the period?

In [176]:
orders=chipo.order_id.value_counts().count()
orders

1834

In [ ]:
# Step 16. What is the average revenue amount per order?
# In [3]:
# # Solution 1
# In [4]:
# # Solution 2

In [177]:
revenue_perorder=revenue/orders
revenue_perorder

21.39423118865867

In [194]:
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
chipo.groupby('order_id').sum().mean()['revenue']

21.394231188658654

In [ ]:
# Step 17. How many different items are sold?

In [208]:
chipo.item_name.value_counts().count()

50

In [ ]:
# Step 5. What is the price of each item?
# print a data frame with only two columns item_name and item_price
#data cleaning

In [232]:
chipo.drop_duplicates(['item_name','quantity']).head(10)

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98,10.98
6,3,1,Side of Chips,NaN,1.69,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75,11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25,9.25
10,5,1,Chips and Guacamole,NaN,4.45,4.45

In [233]:
chipo[['item_name','item_price']].head(10)

                               item_name  item_price
0           Chips and Fresh Tomato Salsa        2.39
1                                   Izze        3.39
2                       Nantucket Nectar        3.39
3  Chips and Tomatillo-Green Chili Salsa        2.39
4                           Chicken Bowl       16.98
5                           Chicken Bowl       10.98
6                          Side of Chips        1.69
7                          Steak Burrito       11.75
8                       Steak Soft Tacos        9.25
9                          Steak Burrito        9.25

In [ ]:
# Step 6. Sort by the name of the item

In [234]:
chipo.sort_values('item_name').head(10)

,order_id,quantity,item_name,choice_description,item_price,revenue
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98,25.96
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49,6.49
3422,1373,1,6 Pack Soft Drink,[Coke],6.49,6.49
553,230,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
1916,774,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
1922,776,1,6 Pack Soft Drink,[Coke],6.49,6.49
1937,784,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49

In [ ]:
# Step 7. What was the quantity of the most expensive item ordered?

In [238]:
chipo.sort_values(by='item_price',ascending=False).head(1).quantity

3598    15
Name: quantity, dtype: int64

In [ ]:
# Step 8. How many times were a Veggie Salad Bowl ordered?

In [244]:
len(chipo[chipo['item_name']=='Veggie Salad Bowl'])

18

In [ ]:
# Step 9. How many times people orderd more than one Canned Soda?

In [249]:
soda_people=chipo[chipo.item_name=='Canned Soda']
len(soda_people[soda_people.quantity>1])

20

In [251]:
soda_morethanone = chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)]###
len(soda_morethanone)

20